<div class="beer-container" style="width: 18rem;">
  <div>
  <img src="{{image_url}}" class="beer-img" alt="beer image">
  </div>
  <div class="beer-div">
    <h5 class="beer-name">{{name}}</h5>
    <h6>{{tagline}}</h6>
    <p class="beer-description">{{description}}</p>
  </div>
</div>