<!-- views/index.hbs -->

<div id="container">
  <div id="beer-icon">
  <img id="beer"  src="/images/beer.png" alt="Beer image">
  </div>

  <div class="main-button" >
   <a  href="/beers"><button id="beerButton">Check the Beers!</button></a>
   <a  href="/random-beers"><button id="beerButton">Check a random Beer!</button></a>
  </div>


</div>