{{> navbar}}

<div id="home-page">
 <img id="beer-main-image" src="images/beer.png" alt ="beer drawing">
 <a id="home-button" href="/beers">Check the Beers!</a></button>
 <a id="home-button"href="/random-beers">Check a Random Beer!</a>
</div>